{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#boardList}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/board/{{id}}">{{title}}</a></td>
            <td>{{author.nickname}}</td>
            <td>{{content}}</td>
        </tr>
    {{/boardList}}
    </tbody>
</table>
{{#userId}}
    <a href="/board/new">New Board</a>
{{/userId}}

{{>layouts/footer}}