{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#board}}
        <tr>
            <th>{{id}}</th>
            <td>{{title}}</td>
            <td>{{content}}</td>
        </tr>
    {{/board}}
    </tbody>
</table>
<a href="/board/{{board.id}}/edit" class="btn btn-primary">Edit</a>
<a href="/board/{{board.id}}/delete" class="btn btn-danger">Delete</a>
<a href="/board/list">Go to Board List</a>

{{>comment/_comment}}
{{>layouts/footer}}