<form class="container" action="/invest/record/new" method="post">
    <div class="mb-3">
        <label for="form-label" class="form-control">날짜</label>
        <input type="date" class="form-control" name="date">
    </div>
    <div class="mb-3">
        <label for="form-label" class="form-control">입금</label>
        <input type="number" name="deposit">
    </div>
    <div class="mb-3">
        <label for="form-label" class="form-control">출금</label>
        <input type="number" name="withdrawal">
    </div>
    <div class="mb-3">
        <label for="form-label" class="form-control">현재 총액</label>
        <input type="number" name="currentMoney">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>