{{>layouts/header}}
<div class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th scope="col">날짜</th>
            <th scope="col">입금</th>
            <th scope="col">출금</th>
            <th scope="col">총액</th>
            <th scope="col">전일대비 수익</th>
            <th scope="col">누적 수익</th>
        </tr>
        </thead>
        <tbody>
        {{#dailyRecordList}}
            <tr>
                <td>{{date}}</td>
                <td>{{deposit}}</td>
                <td>{{withdrawal}}</td>
                <td>{{currentMoney}}</td>
                <td>{{dailyProfit}}</td>
                <td>{{totalProfit}}</td>
            </tr>
        {{/dailyRecordList}}
        </tbody>
    </table>
</div>
{{>invest/_new}}
{{>layouts/footer}}