{{>layouts/header}}
<div class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th scope="col">날짜</th>
            <th scope="col">총액</th>
            <th scope="col">전일대비 수익</th>
        </tr>
        </thead>
        <tbody>
<!--        {{#boardList}}-->
<!--            <tr>-->
<!--                <th>{{id}}</th>-->
<!--                <td><a href="/board/{{id}}">{{title}}</a></td>-->
<!--                <td>{{author.nickname}}</td>-->
<!--                <td>{{content}}</td>-->
<!--                <td>{{createdAt}}</td>-->
<!--            </tr>-->
<!--        {{/boardList}}-->
        </tbody>
    </table>
</div>
{{#userId}}
    <a href="/board/new">New Board</a>
{{/userId}}

{{>layouts/footer}}