{{>layouts/header}}
<div class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th scope="col">날짜</th>
            <th scope="col">총액</th>
            <th scope="col">전일대비 수익</th>
        </tr>
        </thead>
        <tbody>
        {{#investList}}
            <tr>
                <td>{{date}}</td>
                <td>{{money}}</td>
                <td>null</td>
            </tr>
        {{/investList}}
        </tbody>
    </table>
</div>
{{>invest/_new}}
{{>layouts/footer}}